/* variables  */
:root {
  --primary-color: #eee;
}

/* universal box sizing */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* reset css */

html,
body,
#root {
  height: 100%;
}

a {
  color: initial;
  text-decoration: none;
}

a:hover {
  background: var(--primary-color);
}
